extends layout
block content
  
  h1 Welcome to our Github API
  p This are our Endpoins
  ul
    li'/users/List'
    li'/users/page/:number'
    li'/users/detail/:username'
    li'/users/detail/:username/repos'